.homeSection {
  padding-top: 86px;
  padding-bottom: 105px;
}

.background {
  background-color: #f5f6fb;
  position: absolute;
  height: 342px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -100;
  border-bottom-left-radius: 90px;
  overflow: hidden;
}

.cabbageIcon {
  position: absolute;
  left: 270px;
  top: 104px;
}

.cabbageIconBottom {
  position: absolute;
  left: 10.94%;
  right: 63.12%;
  transform: rotate(-180deg);
  top: 100%;
}

.afterTitle {
  font-weight: 700;
  font-size: 13px;
  line-height: calc(15 / 13);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #52555f;
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 11px;
}

.preformContainer {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .afterTitle {
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.18em;
    margin-left: 53px;
  }

  .homeSection {
    padding-top: 80px;
    padding-bottom: 155px;
  }

  .background {
    height: 582px;
  }

  .preformContainer {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .homeSection {
    padding-top: 117px;
    padding-bottom: 125px;
  }

  .afterTitle {
    margin-left: 72px;
  }

  .preformContainer {
    margin-bottom: 0;
    margin-right: 157px;
  }
}
