/* @media screen and (min-width: 320px) {
  .kapusta {
    width: 183px;
    height: 46px;
  }
}

@media screen and (min-width: 768px) {
  .kapusta {
    width: 306px;
    height: 77px;
  }
} */

.cabbageIconTop {
  position: absolute;
  left: 270px;
  top: 160px;
}

.cabbageIconBottom {
  position: absolute;
  left: 10.94%;
  right: 63.12%;
  transform: rotate(-180deg);
  top: 100%;
  z-index: -1;
}

.cabbagePair {
  position: absolute;
  left: 103px;
  top: 826px;
}

.cabbageGroup {
  position: absolute;
  left: 10px;
  top: 84px;
}

@media screen and (min-width: 1280px) {
  .cabbagePair {
    left: 230px;
    top: 658px;
  }
  .cabbageGroup {
    left: 10px;
    top: 84px;
  }
}
