@import '/node_modules/modern-normalize/modern-normalize.css';

:root {
  /* background-color */
  --bg-primary-color: #f5f6fb;
  --bg-secondary-color: #ffffff;
  --bg-third-color: #f2f5fc;

  /* modal */
  --auth-modal: #ffffff;
  --input-color: #f6f7fb;
  --red-color: #eb5757;

  /* text */
  --primary-text: #000000;
  --secondary-text: #52555f;
  --third-text: #e7192e;

  /* button */
  --btn-color: #f5f6fb;
  --btn-logout: #cbccd0;
  --accent-color: #ff751d;

  /* notification */
  --background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);

  /* schedule */
  --primary-column: #ff751d;
  --secondary-column: #ffdac0;

  --box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
body {
  font-family: 'Roboto';
  letter-spacing: 0.02em;
  overflow-x: hidden;

  background-color: #f2f5fc;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
} */

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.NavLink {
  font-size: 20px;
  color: currentColor;
}

.NavLink--active {
  color: palevioletred;
}

::-webkit-scrollbar {
  /* 1 - scrollbar */
  width: 4px;
  height: 4px;
  background-color: #f5f6fb;
}

::-webkit-scrollbar-thumb {
  /* 5 - slider */
  border-radius: 2px;
  background-color: #ff751d;
}

/* @media screen and (min-width: 720px) {
  html {
    box-sizing: border-box;
    width: 100vw;
    overflow: hidden;
  }
  body {
    background-color: rgb(245, 235, 204);
  }
} */

li {
  list-style: none;
}
